body{
    height: 100%;
    width: 100%;
}
.imgContainer{
        display: flex;
        height: 100%;
        width: 100%;
      
}
.mypiclogo{
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 30px;
    height: 500px;
    width: 200px;
   
}


nav.ul{
    width: 100%;
    background-color:rgb(31, 31, 24);
}


.imgLinks{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 50px;
    padding: 3px;
   
}

button.btn{
    padding-left: 20px;
    
}

button.btn2{
    padding-left: 20px;
    
}

button.btn3{
    padding-left: 20px;
}
 
.bi-linkedin{
    width:50px;
    height:50px;
    padding-left: 2px;
    fill:currentColor;
}


.bi-github{
    width:50px;
    height:50px;
    padding-left: 2px;
    fill:currentColor;
    

}

.bi-download{
    width:50px;
    height:50px;
    padding-left: 2px;
    fill:currentColor;
    
}

.card{
    display: flex;
    align-items: right;
    justify-content: right;
    width: 100%;
    height: 100%;
    margin-left: 20%;
    
}



.card-body{
    width: 700px;
    height: 200px;  
}


.Projects{
    width: 100%;
    height: 30px;
    margin-top: 20%;
    
    display: block;
}

.Projectheading{
    text-align: center;
    margin-top: 10%;


}



  /* On mouse-over, add a deeper shadow */
  .cardProjects:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

.col{
    padding-block: 10px;

}

.cardProjects{
    height: 400px;
    width: 300px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.card-bodyprojects{
    outline-color: black;
    height: 80px;
    width: 300px;
    padding:3rem;
    margin-bottom: 3rem;
    display: left;
    align-items: left;
    justify-content: left;
}




